{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A</title>
    <link rel="stylesheet" href="{% static 'survey/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'survey/css/style.css' %}">
</head>


<!--
        {% for value in mydict.values %}

        <h3>counts rata A for this question {{value.0}} :  {{value.1}}</h3>
         
        {% endfor %}


          {% for key , value in mydict.items %}
        {{key}} {{value}}

        {% endfor %}

-->

  {% for key in dict.items %}
        {{key}}

        {% endfor %}
render qr

<h1>hi</h1>



</body>
</html