<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href=" ./survey/static/css/mystyle.css' ">
</head>
<body style="background-color:#343a40;">

   <div class="container">
    <div style="margin: 20% 35% ">

        <H1 class="text-center" style="color:white;">WELCOME TO SERVE</H1>
    <H3 style="color:white;align-items: center;">please click scan to get survey </H3>

    <a href="scann"><button type="button" class="btn btn-dark">Scann</button></a>
    </div>
</div>

</body>
</html>